libs/
assets/
levels/
Debug/
build/*.obj
build/*.dll
build/other/
.vs/
*.aps
HeavensEdge.rc
*.sln
HeavensEdge.VC.db
HeavensEdge.VC.VC.opendb
*.vcxproj
HeavensEdge.vcxproj.filters
resource.h
LevelEditor/.vs/
LevelEditor/Debug/
LevelEditor/LevelEditor.vcxproj.filters
LevelEditor/LevelEditor.vcxproj.user
